body{
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding-bottom: 5px;
  }
  
  body::before {
    content: "";
    background-image: url("../../components/Images/bg5.jpg");
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%; /* Full viewport width */
  height: 100%; /* Full viewport height */
 background-color: rgb(255, 255, 255);
 background-repeat: no-repeat;
  background-position: center; /* Align the background image to the top-right corner */
  background-size: cover; /* Adjust this to cover/contain depending on your needs */
  /*filter: blur(0px); 
  z-index: 0; /* Ensure it is behind other content */
  pointer-events: none; 
  
  }

.container{
    display: grid;
    height: 100vh;
    grid-template-rows: 5% 80%;
    grid-template-areas: 
    "navbar"
    "page";
    gap: 15xp;
    padding: 3%;
    margin: 5px;
    /*background-color:#B18986;*/
    
}

.navbar{
    width: 100%;
    grid-area: navbar;
    z-index: 1;
}

.page{
  
  margin-top: 25px;
  border-radius: 0 0 0 0;
   /* Bottom corners only */
  height: 100%;
  grid-area: page;
  z-index: 1;
  /*box-shadow:
    rgba(0, 0, 0, 0.2) 0px 4px 8px, 
    rgba(0, 0, 0, 0.14) 0px 1px 3px, 
    rgba(0, 0, 0, 0.12) 0px 2px 4px;*/
  padding: 5px;
  border-right: 2px solid #B79499;
  overflow-y: auto;
  background-color: white;
  
}

.scale-enter {
  transform: scale(0.8);
  opacity: 0;
}

.scale-enter-active {
  transform: scale(1);
  opacity: 1;
  transition: transform 300ms, opacity 300ms;
}

.scale-exit {
  transform: scale(1);
  opacity: 1;
}

.scale-exit-active {
  transform: scale(0.8);
  opacity: 0;
  transition: transform 300ms, opacity 300ms;
}




